header {
    h1 {
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: -0.02em;
    }

    h2 {
        font-size: 21px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.02em;
    }
    .inputs {
        margin-top: 48px;

        form {
            display: flex;

            .name .school {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }

            input {
                width: 425px;
                height: 38px;
                padding: 8px 15px;
                border: 1px solid #CED4DA;
                border-radius: 4px;
            }
            select {
                width: 216px;
                height: 38px;
                padding: 8px 15px;
                border: 1px solid #CED4DA;
                border-radius: 4px;
            }
        }
    }
}